#hero {
  min-height: max-content
}

#hero .btn-wrapper {
    text-align: center;
}

#hero .btn-contact-us, #hero .btn-scroll {
    font-size: 10pt;
    padding: 10px 30px;
}
#hero .hero-img {
  margin-top: 150px;
}

.btn-contact-us {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #4e73df;
  border: none;
  padding: 10px 40px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.btn-contact-us:hover {
  transition: 200ms;
  background-color: #294cb5;
  transition: all 0.5s ease-in-out;
  color: white;
  text-decoration: none;
}